@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bricolage: var(--font-bricolage);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090B0F;
    --foreground: #F3F3F3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage), Helvetica, sans-serif;
}
